# Build directories
build/
bin/
lib/
out/
models/
# C++ compiled files
*.o
*.obj


# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
*.cmake
!CMakeLists.txt

# Python
__pycache__/
*.py[cod]
*.venv
.venv/
venv/

# IDE & System
.vscode/
.idea/
.DS_Store
*.swp

# Models & Large files (optional, adjust as needed)
*.onnx
*.pth
*.bin
